<div class="infoComponent">
  <h1 translate>Characters in Memory</h1>
  <button mat-raised-button color="accent" (click)="resetCharacters()" style="margin-right: 1em">
    Load Mocks
  </button>
  <button mat-raised-button color="accent" (click)="clearCharacters()" style="margin-right: 1em">
    Clear Memory
  </button>

  <viewer-loader [isLoading]="isLoading" size="1.5"></viewer-loader>
  <mat-list [hidden]="isLoading">
    <div class="infoComponent-characterCards">
      <div *ngFor="let character of chars">
        <mat-divider></mat-divider>
        <mat-card>
          <strong>
            {{ character.name.firstName }} '{{ character.name.nickName }}'
            {{ character.name.sureName }}
          </strong>
          <mat-card-subtitle>
            <i>
              {{ character.background.origin }}
              {{ character.background.homeSystem }}
              {{ character.background.concept }}
            </i>
          </mat-card-subtitle>
          <a
            mat-list-item
            [routerLink]="character.id"
            routerLinkActive="active"
          >
            <button mat-raised-button color="primary">
              Open CharacterInfo
            </button>
          </a>
        </mat-card>
      </div>
    </div>
  </mat-list>
</div>
