<div class="item-container">
  <h3>Equiped Items</h3>
  <div
    cdkDropList
    #equipedItemList="cdkDropList"
    [cdkDropListData]="selectedCharacter.equipedItems"
    [cdkDropListConnectedTo]="[spaceshipItemList]"
    class="item-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="item-box" *ngFor="let item of selectedCharacter.equipedItems" cdkDrag>{{ item.name }}</div>
  </div>
</div>

<div class="item-container">
  <h3>Spaceship Items</h3>
  <div
    cdkDropList
    #spaceshipItemList="cdkDropList"
    [cdkDropListData]="selectedCharacter.spaceShipItems"
    [cdkDropListConnectedTo]="[equipedItemList]"
    class="item-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="item-box" *ngFor="let item of selectedCharacter.spaceShipItems" cdkDrag>{{ item.name }}</div>
  </div>
</div>
