<viewer-loader *ngIf="!character"></viewer-loader>
<mat-card *ngIf="character" class="infoCard grid-container">
  <mat-card-header class="header-area">
    <div mat-card-avatar class="header-avatar-image"></div>
    <mat-card-title>
      <strong>
        {{ character.name.firstName }} '{{ character.name.nickName }}'
        {{ character.name.sureName }}
      </strong>
    </mat-card-title>
    <mat-card-subtitle>
      <i>
        {{ character.background.origin }}
        {{ character.background.homeSystem }}
        {{ character.background.concept }}
      </i>
    </mat-card-subtitle>
  </mat-card-header>

  <!--  Basic Information  -->
  <mat-card class="basic-information-area">
    <h2>Basic Information</h2>
    <viewer-character-info-basics [character]="character"></viewer-character-info-basics>
    <button mat-raised-button color="primary" (click)="this.characterGainXP(1)">
      Gain one XP
    </button>
    <button mat-raised-button color="primary" (click)="this.characterSpendXP(5)">
      Buy an advance
    </button>
  </mat-card>

  <!--  Body Stats  -->
  <mat-card class="attributes-area">
    <mat-panel-title><h2>Body Stats</h2></mat-panel-title>
    <viewer-character-info-bodystats [character]="character"></viewer-character-info-bodystats>
  </mat-card>

  <!--  Attributes  -->
  <mat-card class="body-stats-area">
    <mat-panel-title><h2>Attributes</h2></mat-panel-title>
    <viewer-character-info-attributes
      [selectedCharacter]="character"
    ></viewer-character-info-attributes>
  </mat-card>

  <!--  Skills  -->
  <mat-card class="skills-area">
    <mat-panel-title><h2>Skills</h2></mat-panel-title>
    <viewer-character-info-skills [selectedCharacter]="character"></viewer-character-info-skills>
  </mat-card>

  <!--  Items  -->
  <mat-card class="items-area">
    <mat-panel-title><h2>Items</h2></mat-panel-title>
    <viewer-character-info-items [selectedCharacter]="character"></viewer-character-info-items>
  </mat-card>

  <br />

  <button mat-raised-button color="primary" (click)="onSaveCharacter()">
    dumpEquipedItems
  </button>
</mat-card>
