<mat-placeholder *ngFor="let attribute of selectedCharacter.attributes" class="attribute-container">
  <mat-form-field>
    <mat-label>{{ attribute.type | titlecase }}</mat-label>
    <mat-select [(value)]="attribute.value">
      <mat-option [value]="1">1</mat-option>
      <mat-option [value]="2">2</mat-option>
      <mat-option [value]="3">3</mat-option>
      <mat-option [value]="4">4</mat-option>
      <mat-option [value]="5">5</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-button-toggle (click)="onDiceRollPressed(attribute)">
    <mat-icon>shuffle</mat-icon>
  </mat-button-toggle>
</mat-placeholder>
