/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

mat-form-field {
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  vertical-align: middle;
}

.mat-row:hover {
  background-color: lightsteelblue;
}

.attribute-container {
  padding-right: 0.25em;
  padding-bottom: 0.25em;
}

.dotted {
  text-decoration: underline;
  text-decoration-style: dotted;
}
