<mat-placeholder *ngFor="let bodystat of character.bodyStats">
  <mat-form-field appearance="outline">
    <mat-label>{{ bodystat.type }} [{{ bodystat.value.minimum }}-{{ bodystat.value.maximum }}]</mat-label>
    <label>
      <input
        matInput
        type="number"
        min="{{ bodystat.value.minimum }}"
        max="{{ bodystat.value.maximum }}"
        placeholder="{{ bodystat.type }}"
        matTooltip="{{ getBodyStatExplanation(bodystat.type) }}"
        [(ngModel)]="bodystat.value.current"
      />
    </label>
  </mat-form-field>
</mat-placeholder>
